{% extends '@Authentication/security/layout.html.twig' %}

{% block page_title 'title.password_recovery'|trans %}

{% block page_content %}
    {{ form_start(form) }}

    {{ form_rest(form) }}

    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">{{ 'button.request_password'|trans }}</button>
    </div>

    {{ form_end(form) }}

{% endblock %}
